p {
  line-height: 1.8em;
}

header {
  max-width: calc(1127px + 2rem);
  margin: 0 auto 2rem auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
header a,
header a:visited {
  color: #212529;
  text-decoration: none;
}
header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.6rem;
  color: #e97dfd;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
#banner-animation {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 50px;
  pointer-events: none;
  z-index: -1;
  opacity: 0.5;
}

/* Semantic CSS override */
.ui.header .sub.header {
  margin-top: 0.3rem;
}

footer {
  padding: 1em 0;
  height: 50px;
  margin-top: 4em;
}

li {
  margin: 0.3rem 0;
}

img {
  max-width: 100%;
}

time,
address {
  display: inline;
}

code {
  font-size: 1rem;
}

.article-details {
  opacity: 0.8;
}

.item {
  margin-bottom: 1rem;
  padding-top: 1rem !important;
}
.item > h3.header {
  font-weight: 600 !important;
}

blockquote {
  color: #666;
}

.highlight {
  margin-bottom: 1rem;
  border: 1px solid #999;
  padding: 2rem 0 2rem 2rem;
  box-shadow: 1px 1px 4px #999;
  position: relative;
  overflow-x: overlay;
}

pre {
  font-size: 0.9em;
  margin: 0;
}
@media (max-width: 600px) {
  .highlight {
    padding: 2rem 0 2em 1em;
    margin-left: -1em;
    margin-right: -1em;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  code {
    font-size: 0.8em;
  }
}

.bio {
  padding: 20px 0 40px 0;
  border-top: 1px solid #999;
  margin-top: 20px;
  font-style: italic;
}
.bio a {
  font-weight: bold;
}

.yt-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 1rem 0;
}

.yt-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loom-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 1rem 0;
}

.loom-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subscribe button {
  background-color: #e97dfd99 !important;
  color: #fff !important;
}

.subscribe input {
  background-color: #fff !important;
  border: solid 2px #e97dfd66 !important;
}
.subscribe input::placeholder {
  color: #333 !important;
}

.subscribe {
  min-width: 70%;
}
.subscribe-cta {
  font-weight: bold;
}

li > code,
p > code {
  color: #bb60d5;
}
