{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}



{% block title %}{{ article.title }}{% endblock %} {% block social_card %}
<meta
  property="og:image"
  content="{{ SITEURL }}/theme/social-cards/{{ article.slug }}.png"
/>
<meta
  name="twitter:image"
  content="{{ SITEURL }}/theme/social-cards/{{ article.slug }}.png"
/>
{% endblock %} {% block social %}
<meta name="description" content="{{ article.description }}" />
<meta property="og:description" content="{{ article.description }}" />
<meta name="twitter:description" content="{{ article.description }}" />
<meta name="twitter:title" content="{{ article.title }}" />
{% endblock %} 

{% block content_title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="ui container text">
  <div class="ui huge header">
    
    <div class="sub header">
      {{ article.locale_date }}, by {% for author in article.authors %} {{ author
      }} {% endfor %}
      <div class="category">
        Category:
        <a href="{{ SITEURL }}/{{ article.category.url }}"
          >{{ article.category }}</a
        >
      </div>
    </div>
  </div>
  <div>
    {{ article.content }}
  </div>

  {% from 'mail.html' import mailchimp %}
  {{ mailchimp("Get more backend web development tips", "Enter your email address", "I want tips") }}

  <p style="text-align: center; color: grey;">
    <small>
      If you have any feedback or questions email me at mattdsegal@gmail.com
    </small>
  </p>
</div>
{% endblock %}
