{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}



{% block title %}{{ article.title }}{% endblock %} {% block social_card %}
<meta
  property="og:image"
  content="{{ SITEURL }}/theme/social-cards/{{ article.slug }}.png"
/>
<meta
  name="twitter:image"
  content="{{ SITEURL }}/theme/social-cards/{{ article.slug }}.png"
/>
{% endblock %} {% block social %}
<meta name="description" content="{{ article.description }}" />
<meta property="og:description" content="{{ article.description }}" />
<meta name="twitter:description" content="{{ article.description }}" />
<meta name="twitter:title" content="{{ article.title }}" />
{% endblock %} 

{% block content_title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="ui huge header">
  
  <div class="sub header">
    {{ article.locale_date }}, by {% for author in article.authors %} {{ author
    }} {% endfor %}
    <div class="category">
      Category:
      <a href="{{ SITEURL }}/{{ article.category.url }}"
        >{{ article.category }}</a
      >
    </div>
  </div>
</div>
<div>
  {{ article.content }}
</div>

<!-- Mailchimp signup -->
<!-- Begin Mailchimp Signup Form -->
<div class="ui divider" style="margin: 1.5em 0;"></div>
<form
  action="https://dev.us19.list-manage.com/subscribe/post?u=e7a1ec466f7bb1732dbd23fc7&amp;id=ec345473bd"
  method="post"
  name="mc-embedded-subscribe-form"
  target="_blank"
  style="text-align: center; padding-bottom: 1em;"
  novalidate
>
  <h3 class="subscribe-cta">Get more backend web development tips</h3>
  <div class="ui fluid action input subscribe">
    <input
      type="email"
      value=""
      name="EMAIL"
      placeholder="Enter your email address"
    />
    <button class="ui primary button" type="submit" name="subscribe">
      I want tips
    </button>
  </div>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input
      type="text"
      name="b_e7a1ec466f7bb1732dbd23fc7_ec345473bd"
      tabindex="-1"
      value=""
    />
  </div>
</form>

<!--End mc_embed_signup-->

<p style="text-align: center; color: grey;">
  <small>
    If you have any feedback or questions email me at mattdsegal@gmail.com
  </small>
</p>

{% endblock %}
