{% extends "base.html" %} 

{% block content_title %}Blog Posts{% endblock %}

{% block content %}
<section id="content">

  <div class="ui list middle aligned divided">
    {% for article in articles_page.object_list %}
    <div class="item">
      <h3 class="ui header">
        <a
          href="{{ SITEURL }}/{{ article.url }}"
          rel="bookmark"
          title="Permalink to {{ article.title|striptags }}"
          >{{ article.title }}</a
        >
      </h3>
      <div class="article-details">
        {{ article.locale_date }}, by {% for author in article.authors %} {{
        author }} {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  {% if articles_page.has_other_pages() %} {% include 'pagination.html' %} {%
  endif %}
</section>
<!-- /#content -->
{% endblock content %}
